.hero {
  background-image: linear-gradient(
      0deg,
      #a2c9f6,
      rgba(255, 255, 255, 0) 20% 80%,
      #a2c9f6
    ),
    url(../../assets/wideshot.png);
  background-position: 80% 100%;
  margin: 0 auto;
  height: 480px;
  max-width: calc(30em * 2.09);
  width:100%;
  justify-content: end;
}

@media only screen and (max-height: 600px) {
  .hero {
    height: 66vh;
  }
}

@media only screen and (max-height: 500px) {
  .hero {
background-position: 80% 80%;
background-size:cover;
  }
}
