#root {
  max-width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.Splash {
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.nameplate {
  margin:auto;
}

section h2 {
  font-size: 2.5rem;
}

section h3 {
  font-size: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media only screen and (max-height: 660px) {
  .nameplate h1,
  .nameplate h2 {
    line-height: 1;
    margin: 0.5rem;
  }
}